@import "../config/config";

.features {
	.feature {
		margin-top: 2rem;
	}

	.row {
		display: flex;
		justify-content: center;
	}
}

.feature-title {
	font-size: 1.3rem;
	color: $dark-title;
	margin: 2.5rem 0 2rem;
	font-weight:400;
}

.feature-description {
	color: $dark-description;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	max-width: 58%;
	margin: 0 auto 27px;
}

.feature-link {
	padding-bottom: 2px;
	font-size: 14px;

	&:hover {
		box-shadow: 0 1px 0 $accent;
		color: $accent;
	}
}