
/* Colors */
$accent: #9552ef;
$primary: #233240;
$white: #fff;
$light: rgb(244, 245, 245);

$btn-default-bg: transparent;
$btn-default-color: #fff;
$dark-title: rgba(35, 50, 64, 0.8);
$dark-description: rgba(35, 50, 64, 0.6);

/* Folders */
$images-folder: "../images/";

/* Fonts */
$font-primary: 'Open Sans', sans-serif;